<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <main>
      <div class="bg-dark p-2">
        <div class="container text-white d-flex justify-content-around">
          <div class="row ">
            <div class="col">
              <h4 class="text-center">Lorem ipsum.</h4>
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, error libero. Repellendus fugiat veniam harum?</span>
            </div>
            <div class="col">
                <h4 class="text-center">Lorem ipsum.</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, error libero. Repellendus fugiat veniam harum?</span>
            </div>
            <div class="col">
                <h4 class="text-center">Lorem ipsum.</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, error libero. Repellendus fugiat veniam harum?</span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
